<mx-form
     [formConfig]="formDisplayInColumn"
     [sourceIndex]="sourceIndex"
     [record]="record"
     [reset]="reset"
     (onFieldChange)="fieldChange($event)"
     (onFormChange)="formChange($event)"
     (onButtonClick)="buttonClick($event)"
></mx-form>
<mat-card>
     <mat-card-content>
          <div class="mdc-layout-grid">
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-header">Select Columns</div>
                    </div>
               </div>
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-middle"></div>
                    <div class="mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-button">
                            <mx-form
                                [formConfig]="formColumnSelector"
                                [sourceIndex]="sourceIndex"
                                [record]="columnSelectorRecord"
                                [reset]="reset"
                                (onFieldChange)="fieldChange($event)"
                            ></mx-form>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-3 mdc-layout-grid__cell--align-middle"></div>
               </div>
          </div>   
          <div class="mdc-layout-grid">
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-header">RESPONSE</div>
                    </div>
               </div>
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-button">
                              <pre class="response-pre">{{response | json}}</pre>
                         </div>
                    </div>
               </div>
          </div>
     </mat-card-content>
</mat-card>