.sidenav-container {
    height: 100%; 
  }
   
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mx-toolbar-button {
    // padding: 0 14px;
    background: transparent;
    color: inherit;
    border: 0px;
  }
  
  .mx-toolbar-spacer {
    flex: 1 1 auto;
  }

  .mx-menu-icon ::ng-deep .mat-list-item-content {
    padding: 0px !important;
  }

  .mat-icon-rtl-mirror {
    padding-right: 5px;
  }

  .mx-body {
    background-color: #eff0f1;
  }
  
// .sticky-header {
//   position: fixed !important;
//   top: 0px !important;
//   z-index: 9999 !important;
//   left: 0;
//   right: 0;
// }