<mat-card>
          <div class="mdc-layout-grid header-example">
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-8-phone mdc-layout-grid__cell--align-middle mdc-layout-grid--align-left">
                         <mat-card-header>
                              <mat-card-title>8 Button types</mat-card-title>
                         </mat-card-header>
                    </div>
                    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--align-middle mdc-layout-grid--align-right">
                         <mx-button-group 
                              [buttons]="goToCodeButton" 
                              [formDisplayMode]="'EDIT'"
                              (onClick)="goToCodeCallback($event)">
                         </mx-button-group>
                    </div>
               </div>
          </div>         
    <mat-card-content>
         <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-header">Button and Icon</div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">Button Types</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypes" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="1" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">Only icon</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypesOnlyIcon" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="2" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">With icon</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypesWithIcon" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="2" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">With icon at top</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypesWithIconTop" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="2" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">With icon on right</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypesWithIconRight" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="2" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                   <div class="mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-label">With icon at bottom</div>
                   </div>
                   <div class="mdc-layout-grid__cell--span-10 mdc-layout-grid__cell--align-middle">
                        <div class="mx-example-button">
                             <mx-button-group 
                                  [buttons]="buttonTypesWithIconBottom" 
                                  [form]="form" 
                                  [formDisplayMode]="'EDIT'"
                                  [sourceIdentifier]="sourceIdentifier"
                                  [sourceIndex]="2" 
                                  [widgetArrayIndex]="widgetArrayIndex"
                                  [context]="context" 
                                  [originalData]="originalData" 
                                  (onClick)="click($event)">
                             </mx-button-group>
                        </div>
                   </div>
              </div>
              <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-header">RESPONSE</div>
                    </div>
               </div>
               <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--align-middle">
                         <div class="mx-example-button">
                              <pre class="response-pre">{{response | json}}</pre>
                         </div>
                    </div>
               </div>
          </div>
    </mat-card-content>
</mat-card>