@import "~@material/layout-grid/mdc-layout-grid";

.mx-example-label {
    padding: 12px;
    left: 8px;
}

.mx-example-button {
    padding: 12px;
    left: 8px;
    width: 100%;
}

.mx-example-header {
    width: 100%;
    background-color: lightgrey;
    padding: 12px 16px;
}

.mat-card-header-text {
    margin: 0px !important;
}

.mdc-layout-grid {
    padding: 0px;
}

.response-pre {
    background-color: ghostwhite;
}

.header-example {
    padding-bottom: 8px;
}